@import 'app/assets/styles/variables';

  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Montserrat:wght@400;700&family=Nunito:ital,wght@1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;1,300&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body,html {
	@apply  bg-[#131313];
}
body {
	@apply text-base  text-gray tracking-[0.12em];
	font-family: 'Manrope', sans-serif;

}

.disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	opacity: 0.2 !important;
}
